.custom_button_cadastrar {
  position: relative;
  width: 154px;
  height: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  margin-top: 15px;
  margin-right: 15px; /* Ajustado para definir a margem à direita */
}

.custom_button_cadastrar__text {
  transition: all 0.3s;
  color: #fff;
  font-weight: 600;
}

.custom_button_cadastrar__icon {
  position: absolute;
  right: 5px; /* Ajustado para posicionar o ícone à direita */
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_button_cadastrar .svg {
  width: 24px;
  stroke: #fff;
}

.custom_button_cadastrar:hover {
  background: #34974d;
}

.custom_button_cadastrar:hover .custom_button_cadastrar__text {
  color: white;
}

.custom_button_cadastrar:hover .custom_button_cadastrar__icon {
  width: 148px;
  transform: translateX(0);
}

.custom_button_cadastrar:active .custom_button_cadastrar__icon {
  background-color: #2e8644;
}

.custom_button_cadastrar:active {
  border: 1px solid #2e8644;
}
